name: 'Validate aws-auth'
on:
  pull_request:
    paths:
      - 'clusters/**/aws-auth.yaml'

jobs:
  validate-aws-auth:
    name: Validate aws-auth
    runs-on: ubuntu-latest
    steps:
    - name: 'checkout code'
      uses: 'actions/checkout@v2'

    - id: files
      uses: jitterbit/get-changed-files@v1
      
    - name: 'Validate aws-auth'
      uses: actions/github-script@v5
      id: validate
      continue-on-error: true
      run: |
        all_files="${{ steps.files.outputs.all }}"
        if [[ ! -z "$all_files" ]];
        then
          for file in ${{ steps.files.outputs.all }}; do
            if [[ "$(basename $all_files)" == "aws-auth.yaml" && -n $(echo "$all_files" |grep "clusters/") ]]; ### Change to "clusters/eks"
            then
              echo "Validating $all_files"
              cat $file-abc
            fi
          done
        fi

    - name: run github-script
      uses: actions/github-script@v5
      id: script
      continue-on-error: true
      with:
       script: |
          all_files="${{ steps.files.outputs.all }}"
          if [[ ! -z "$all_files" ]];
          then
            for file in ${{ steps.files.outputs.all }}; do
              if [[ "$(basename $files)" == "aws-auth.yaml" && -n $(echo "$files" |grep "clusters/") ]]; ### Change to "clusters/eks"
              then
                echo "Validating $all_files"
                cat $file-abc
              fi
            done
          fi

    - name: Update comment with validation output
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        message: |
          Validation output from ${{ github.sha }}.
          ```
          ${{ steps.validate.outputs.result }}
          ${{ steps.script.outputs.result }}

