name: 'Validate aws-auth'
on:
  pull_request:
    paths:
      - 'clusters/**/aws-auth.yaml'

jobs:
  validate-aws-auth:
    name: Validate aws-auth
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false     
    steps:
    - name: 'checkout code'
      uses: 'actions/checkout@v2'

    - id: files
      uses: jitterbit/get-changed-files@v1
      continue-on-error: true
      
    - name: 'Validate'
      id: validate
      continue-on-error: true     
      #shell: bash {0}
      run: |
        cat /etc/passwd-1 >> out.txt 2>&1
        echo ============================= >> out.txt 2>&1
        cat /etc/passwd-xyz >> out.txt 2>&1

    - name: capture validate logs
      uses: actions/github-script@v5
      continue-on-error: true
      id: script
      with:
        script: |
          const fs = require('fs');
          return fs.readFileSync('out.txt','utf8').toString();
        result-encoding: string

    - name: Update comment with validation output
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        message: |
          Validation output
          ```
          ${{ steps.script.outputs.result }}

          ```
