name: 'Validate aws-auth'
on:
  pull_request:
    paths:
      - 'clusters/**/aws-auth.yaml'

jobs:
  validate-aws-auth:
    name: Validate aws-auth
    runs-on: ubuntu-latest
    steps:
    - name: 'checkout code'
      uses: 'actions/checkout@v2'

    - id: files
      uses: jitterbit/get-changed-files@v1
      
    - name: 'Validate aws-auth'
      id: validate
      continue-on-error: true
      run: |
        all_files="${{ steps.files.outputs.all }}"
        if [[ ! -z "$all_files" ]];
        then
          for file in ${{ steps.files.outputs.all }}; do
            if [[ "$(basename $file)" == "aws-auth.yaml" && -n $(echo "$file" |grep "clusters/") ]]; ### Change to "clusters/eks"
            then
              echo "Validating $all_files"
              cat $file >> out.txt 2>&1
            fi
          done
        fi

    - name: capture validate logs
      uses: actions/github-script@v5
      continue-on-error: true
      id: script
      with:
        script: |
          const fs = require('fs');
          return fs.readFileSync('out.txt','utf8').toString();
        result-encoding: string

    - name: Update comment with validation output
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        message: |
          Validation output from ${{ github.sha }}.
          ```
          ${{ steps.script.outputs.result }}

          ```

