name: Mixed inputs test workflow

on:
  workflow_dispatch:
    inputs:
      name:
      prNumber:
        required: true
env:
  PR_NUMBER: ${{ github.event.inputs.prNumber }}

jobs:
  find-files:
    name: istio-sanity-test
#    runs-on: cicd-dev
    runs-on: ubuntu-latest
    steps:
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.3
        with:
          output: ' '
          fileOutput: ' '
          # optional PR number to compare
          prNumber: ${{ github.event.inputs.prNumber }}
          
      - name: test
        continue-on-error: true
        run: |
          cat $HOME/files.txt
          cat $HOME/files.json
          cat $HOME/files_modified.json
          cat $HOME/files_added.json
          cat $HOME/files_removed.json
          echo '${{ steps.file_changes.outputs.files}}'
          echo '${{ steps.file_changes.outputs.files_modified}}'
          echo '${{ steps.file_changes.outputs.files_added}}'
          echo '${{ steps.file_changes.outputs.files_removed}}'
