name: Mixed inputs test workflow

on:
  workflow_dispatch:
    inputs:
      prNumber:
        required: true
env:
  PR_NUMBER: ${{ github.event.inputs.prNumber }}

jobs:
  find-files:
    name: istio-sanity-test
#    runs-on: cicd-dev
    runs-on: ubuntu-latest
    steps:
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.3
        with:
          output: ' '
          #fileOutput: ' '
          # optional PR number to compare
          prNumber: ${{ github.event.inputs.prNumber }}
          
      - name: test
        #continue-on-error: true
        run: |
          ls -ltr $HOME/
          cat $HOME/files.json
          cat $HOME/files_modified.json
          cat $HOME/files_added.json
          cat $HOME/files_removed.json
          echo '${{ steps.file_changes.outputs.files}}'
          echo '${{ steps.file_changes.outputs.files_modified}}'
          echo '${{ steps.file_changes.outputs.files_added}}'
          echo '${{ steps.file_changes.outputs.files_removed}}'

      - name: 'Find cloud, env and cluster name'
        id: get-cluster-info
        # continue on error so another step can add error output in a comment
        # separate step later will mark this as failed if not successful
        continue-on-error: true
        # "bash {0}" will make all commands run regardless of any one command fails
        shell: bash {0}
        run: |
          all_files="${{ steps.file_changes.outputs.files }}"
          if [[ ! -z "$all_files" ]];
          then
            uniq_clusters=$(echo $all_files | tr ' ' '\n' | grep "clusters" |grep "istio" | cut -f1-5 -d/ | sort | uniq | tr '\n' ' ')

            for file in $uniq_clusters; do
              export CLOUD=$(echo $file | cut -f2 -d/)
              export ENV=$(echo $file | cut -f3 -d/)
              export REGION=$(echo $file | cut -f4 -d/)
              export CLUSTER=$(echo $file | cut -f5 -d/)

              echo CLOUD: $CLOUD
              echo ENV: $ENV
              echo REGION: $REGION
              echo CLUSTER: $CLUSTER
              echo ===========
            done
          fi

