name: Mixed inputs test workflow

on:
  workflow_dispatch:
    inputs:
      name:
      prNumber:
        required: true
env:
  PR_NUMBER: ${{ github.event.inputs.prNumber }}

jobs:
  runs-on: ubuntu-latest
  validate-aws-auth:
    name: istio-sanity-test
#    runs-on: cicd-dev

    steps:
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.3
        with:
          output: ' '
          # optional PR number to compare
          prNumber: $PR_NUMBER
